{% extends "templates/layout.njk" %}

{% block main %}
	<div class="container map">
		<img class="sign" src="assets/img/smokey-mountain-sign.jpg" alt="Great Smokey Mountains Sign">
		{% include "templates/partials/trail-map.njk" %}
	</div>
	
	<div class="info container">
		<div class="trail-name"></div>
		<div class="trail-length"></div>
		<div class="trail-description"></div>
	</div>
	
{% endblock %}