body {
	background-color: #F2F0D8;
}

.map {
	padding: 0;
	margin-top: 20px;
	position: relative;
	
	.sign {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 250px;
		border: 1px solid black;
	}
	
	svg {
		border: 5px solid black;
		
		#Appalachian_Trail .st0 {
			stroke: rgba(255, 255, 255, .7);
		}
		
		.st0 {
			stroke-width: 4;
			opacity: .6;
			
			&:hover {
				stroke: orange;
			}
		}
	}
}

.info {
	padding: 0;
	
	.trail-name {
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
	}
	
	.trail-length, .trail-description {
		font-family: 'Open Sans', sans-serif;
		
		&.trail-length {
			margin-bottom: 10px;
		}
	}
}